<!-- <ul>
    <li>brand1</li>
    <li>brand2</li>
    <li>brand3</li>
</ul> -->

<ul>
    <% for (brand of brands){ %>
        <li>
            Brand: <%= brand.brand_name%>
                <br>
                Categories: <%= brand.brand_category%>
                <br>
                Associated Products: <%= brand.brand_product%>
                <br>
                <a href="/brands/<%=brand.brand_id%>/update">update</a>

                <a href="/brands/<%= brand.brand_id %>/delete">Delete</a>

        </li>
        <%}%>
</ul>