<!-- <ul>
    <li>product1</li>
    <li>product2</li>
    <li>product3</li>
</ul> -->

<ul>
    <% for (product of products){ %>
        <li>
            Product: <%= product.product_name%>
                <br>
                Brand: <%= product.product_brand%>
                <br>
                Category: <%= product.product_category%>
                <br>
                <a href="/product/<%= product.product_id %>/update">Update</a>
                                <%- console.log(product) %>

        </li>
        <%}%>
</ul>